@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 90vh;
    font-family: 'Poppins', sans-serif;

}
.wrapper{
    width: 100%;
    margin: auto;
}
header{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(image.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 80px;
    margin-right: 100px;

}
.nav-area li {
    display: inline-block;
}
.nav-area li a 
{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    margin-left: 10px;
    font-size: 18px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    font-weight: 900;
}
.nav-area li a:hover
{
    background: #fff;
    color: #333;
}
.logo{
    width: 200px;
    float: left;
    margin-left: 100px;
    margin-top: 70px;
}
.logo h1{
    width: 100%;
    color: #fff;
    font-size: 40px;
}
span{
    color: #00fecb;
}
.welcome-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
    margin-left: 32%;
    
}
.welcome-text h1
{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    
}
.welcome-text a 
{
    border: 3px solid #fff;
    font-weight: 900;
    padding: 10px 25px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    transition: all 0.5s ease;



}
.welcome-text a:hover{
    background: #fff;
    color: #333;
    font-weight: 600;
}
/* responsive css start */
@media only screen and (max-width:900px)
{
    .wrapper{
        width: 100%;
    }
    .logo{
        float: none;
        margin-top: 0;
    }
    .new-area{
        float: none;
        margin-top: 0;
    }
    .new-area li a{

        padding: 5px;
        font-size: 18px;
    }
    .new-area{
        text-align: center;
    }
    .welcome-text {
        width: 100%;
        height: auto;
        margin: 30% 0;
    }
    .welcome-text h1{

        font-size: 30px;
    }

}